body {
	width: 100%;
    height: 100%;
    box-sizing: border-box;
	background-image: url("../images/background-image.jpg");
	background-position: center;
	background-repeat: no-repeat;
    background-color: black;
    font-family:"Minecraft Regular";
    margin: 0;
}

element.style {
    padding: auto;
}

.justify-content-center {
    margin-top: 10%; 
    display: flex;
}

.btn {
	height: 50px;
	width: 130px;
	text-decoration: none;
	background-color: #aea4a2;
	border-radius: 10px;
	font-weight: bold;
}

.btn:hover {
	box-shadow: 0 0 0 0.2rem rgba(134,142,150,0.5);
	background-color: #8b8381;
	color:white;
}

#zioncraftLogo {
	width: 75%;
	margin: auto;
	margin-top: 10vh;
	display: block;
}

#playGame {
	float: right;
}







/* 
#tutorial{
    position:absolute;
    z-index: 11;
    top: 5%;
    bottom:70%;
    left: 5%;
    right: 70%;
    background-color: grey;
    display: none;
    border-radius: 5px;
    color: white;
    font-family:"Minecraft Regular";
    text-align: center;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
} */

#default-board, #toolsContain, #blocksContain {
    display: none;
}

#main {
    width: 660px;
    height: 660px;
    display:inline-block;
    margin: 0 12% 0 12%;
}

#toolsContain, #blocksContain {
    background-color:sienna;
    position: relative;
    padding: 2%;
    height: 100%;
    opacity: 0.8;
}

.toolItem{
    border-style: dashed;
    border-color: lightgrey;
    margin-bottom: 5%;
}

.toolItem img{
    width:120px;
    height:120px;
}

.toolSelected{
    background-color: blue;
}

.incorrectSelection{
    background-color: red;
}

#itemSelected {
    border-style: solid;
    border-color: lightgrey;
    margin: 0 33% 0 33%;
    height: 12vh;
    width: 12vh;
    background-size: contain;
}

.itemSelected {
    border-style: solid;
    border-color: lightgrey;
    margin: 0 33% 0 33%;
    height: 12vh;
    width: 12vh;
    background-size: contain;
}

.box {
    height:33px;
    width:33px;
    background-size: contain;
    display: inline-block;
    margin-right: 0;
    margin-bottom: -4px;
    box-sizing: border-box;
}
.box:hover{
    border: 1px #8dbfff solid;
}

.sky{
    background-color:#8dbfff ;
}

.cloud {
    background-image: url("../images/cloud_image.png");
    background-color: #8dbfff;
}

.dirt{
    background-image: url('../images/dirt.png');
}

.rock{
    background-image: url('../images/rock.png');
}

.grass{
    background-image: url('../images/grass.png');
}

.leaf{
    background-image: url('../images/leaf.png');
}

.tree{
    background-image: url('../images/tree.png');
}
.cactus {
    background-image: url('../images/cactus.png');
}

#container-game {
    display: flex;
}